Repository GDSC-DEU/2022-SolutionChallenge-CanDrink, pull requests merged in 2022-03, with the labels that each got.

#12 feat: 모델 학습 notebook 추가
  ml/notebooks/CanDrink.ipynb
Labels: Project: ML

#18 Feat: Play initialize sound
  client/assets/sound/beep.mp3
  client/lib/screens/camera_screen.dart
  client/pubspec.lock
  client/pubspec.yaml
Labels: Project: Client

#19 feat: Implement TTS function
  client/assets/tflite/candrink_labels.txt
  client/lib/screens/camera_screen.dart
  client/lib/services/tts_service.dart
  client/pubspec.lock
  client/pubspec.yaml
Labels: Project: Client

#25 Refactor/#24 refactoring flutter
  client/.vscode/settings.json
  client/lib/main.dart
  client/lib/screens/camera_screen.dart
  client/lib/services/barcode_scanner.dart
  client/lib/services/permission_service.dart
  client/lib/services/tflite/image_classification/classifier.dart
  client/lib/services/tflite/object_detection/tflite_service.dart
  client/lib/services/tts_service.dart
  client/lib/utils/barcode_information.dart
  client/lib/utils/image_convert.dart
  client/lib/utils/vibration.dart
Labels: Project: Client

#26 feat: Implement model update function
  client/lib/screens/camera_screen.dart
  client/lib/services/asset_download.dart
  client/pubspec.lock
  client/pubspec.yaml
Labels: Project: Client

#28 Refactor: refactor server spec
  client/lib/services/asset_download.dart
  server/Dockerfile
  server/app/routes/views.py
Labels: Project: Server, Project: Client
